@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Slabo+27px&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', serif;
  font: 2.0rem 'Slabo 27px', serif;
  height: 100vh;
  margin: 0;
}

li {
  list-style: none;
}

button {
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

header {
  grid-area: header;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand .logo {
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

.brand a {
  color: black;
  font-size: 2.5rem;
  /* font-weight: bold; */
}

.header-links a {
  color: black;
  padding: 0.5rem;
}

.header-links a:hover {
  color: rgb(182, 161, 121);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(182, 161, 121);
  ;
}

/* Home Screen */

.products {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 45rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2rem;
  /* font-weight: bold; */
  color: black
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2.5rem;
  /* font-weight: bold; */
}

.product-image {
  width: 34rem;
  height: 34rem;
}

.product-rating {
  margin-bottom: 1rem;
}

/* side bar */

.brand button {
  font-size: 2.5rem;
  background: none;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: white;
  border-right: 0.1rem solid rgb(214, 206, 206);
  opacity: 0.9;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  background-color: white;
  border: 0.1rem rgb(212, 211, 211) solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0.2rem;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
}

/* Product Details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
  margin-left: 1rem;
}

.details-action {
  flex: 2 1 30rem;
}

.details-info ul, .details-action ul {
  padding: 0;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: 0.1rem solid #d8d2d2;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
}

.button:hover {
  border: 0.1rem #404040 solid;
}

.button.primary {
  background-color: #c8c6e2;
}

.button.secondary {
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border: 0.1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container li img {
  width: 10rem;
  height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 10 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.full-width {
  width: 100%;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps>div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
}

.checkout-steps>div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-info>div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info>div:first-child {
  margin-top: 0;
}

.placeorder-action>ul {
  padding: 0;
  list-style-type: none;
}

.placeorder-action>ul>li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action>ul>li:nth-child(5) {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(238, 85, 85);
}